@model Shop.Models.LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
}

<h1 style="margin-left:30%; width:100%">Đăng nhập</h1>

<hr />
<div class="row" style="margin-left:30%; width:100%">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Đăng nhập" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-bottom: 150px;margin-left:30%; width:100%">
    <a asp-action="Register">Bạn chưa có tài khoản? Tạo tài khoản ngay</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
